<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/nav') %> <% if (locals.blogs.length >= 1) { %>
    <div class="container my-5 row row-cols-4 m-auto">
      <% blogs.forEach(blog => { %>
      <div class="card col">
        <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title font-bold"><%= blog.title %></h5>
          <a href="/blog/show/<%= blog._id %>" class="btn btn-primary"
            >Read More..</a
          >
        </div>
      </div>
      <% }) %>
    </div>
    <% } else { %>
    <h1 class="mt-3">No Blogs, Create Blogs.</h1>
    <% } %> <%- include('./partials/scripts') %> <% if (!locals.user) { %>
    <h1>Try Sign IN or Sign UP</h1>
    <% } %>
  </body>
</html>
